se.aceone.mediatek.linkit/config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packageinfo">
    <xs:annotation>
      <xs:documentation>This file represents user settings about package information that will be packaged into vxp(LINKIT 1.0)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userinfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="developer"/>
              <xs:element type="xs:string" name="appname"/>
              <xs:element type="xs:string" name="appversion"/>
              <xs:element type="xs:integer" name="appid"/>
              <xs:element type="xs:string" name="iconName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="APIAuth">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="category" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="defaultliblist"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="targetconfig">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:integer" name="mem"/>
              <xs:element type="xs:string" name="supportbg"/>
              <xs:element type="xs:string" name="userfont"/>
              <xs:element type="xs:string" name="screenrotate"/>
              <xs:element type="xs:string" name="autoadaptable"/>
              <xs:element type="xs:string" name="usesysmemory"/>
              <xs:element type="xs:string" name="sysdisk"/>
              <xs:element type="xs:string" name="Push"/>
              <xs:element type="xs:integer" name="PushID"/>
              <xs:element type="xs:string" name="PushSenderID"/>
              <xs:element type="xs:string" name="autostart"/>
              <xs:element type="xs:string" name="TransferImg"/>
              <xs:element type="xs:string" name="idleshortcut"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="namelist">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="english"/>
              <xs:element type="xs:string" name="chinese"/>
              <xs:element type="xs:string" name="cht"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="operationinfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="content"/>
              <xs:element type="xs:int" name="imsi"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paymentlib">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:int" name="smskey"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="output">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="type"/>
              <xs:element type="xs:integer" name="device"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="resolution">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="Width"/>
              <xs:element type="xs:integer" name="Height"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vxp">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:integer" name="mreversion"/>
              <xs:element type="xs:integer" name="sdkversion"/>
              <xs:element type="xs:integer" name="venus"/>
              <xs:element type="xs:integer" name="iot_wearable"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="font">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="size"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="image"/>
        <xs:element name="icon">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="path"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>